:root {
  --background-color: #121212;
  --text-color: #b3b3b3;
  --dropdown-background: #282828;
  --dropdown-color: #b3b3b3;
  --dropdown-hover: #1db954;
  --button-background: #007bff;
  --button-hover: #0056b3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
}

select {
  margin-top: 20px;
  background-color: var(--dropdown-background);
  color: var(--dropdown-color);
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  /* Add custom dropdown arrow */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23b3b3b3" viewBox="0 0 140 140" width="50" height="50" xmlns="http://www.w3.org/2000/svg"><path d="M20 40h100l-50 60z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px; /* Add padding to avoid text overlap with arrow */
}

option {
  background-color: var(--dropdown-background);
  color: var(--dropdown-color);
}

option:hover {
  background-color: var(--dropdown-hover);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 200px;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--button-background);
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

.text {
  font-size: 24px;
  color: var(--text-color);
}
